networks:
  database: ~

volumes:
  pg_data: ~
  cloudbeaver_data: ~
  caddy_data: ~

services:
  postgres:
    image: postgres:18.1
    restart: unless-stopped
    environment:
      - TZ=${TZ}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql
    ports:
      - 5432:5432
    networks:
      - database
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 10s
      retries: 5

  cloudbeaver:
    image: dbeaver/cloudbeaver:latest
    restart: unless-stopped
    volumes:
      - cloudbeaver_data:/opt/cloudbeaver/workspace
    networks:
      - database
    depends_on:
      postgres:
        condition: service_healthy

  caddy:
    image: caddy:2.10.2-alpine
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
    networks:
      - database
    depends_on:
      - cloudbeaver
